@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(255, 247, 234);
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #009688; 
  border-radius: 10px;
  height: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008376; 
}

nav {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: papayawhip;
  position: fixed;
  top: 0;
  z-index: 10;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting span {
  font-size: 30px;
  font-family: lato, sans-serif;
}

.greeting img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  filter: invert(36%) sepia(72%) saturate(1313%) hue-rotate(143deg) brightness(94%) contrast(101%);
}

nav .logo {
  font-size: 50px;
  font-family: lato, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.logo img {
  height: 110px;
  width: 100px;
}

.su {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28%;
  /* border: 2px solid red; */
}

.search input {
  padding: 7px;
  width: 250px;
  border-radius: 20px;
  border: 2px solid #009688;
  font-size: 18px;
}

.user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #009688;
}

.user img {
  height: 120%;
}

.main {
  width: 95%;
  float: right;
  margin: 50px auto;
  overflow-x: hidden;
  transition: .5s;
}

.category {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

/* This container is needed to position the front and back side */

.card {
  height: 350px;
  width: 350px;
  margin: 30px 50px;
  background-color: transparent;
  perspective: 1000px;
}

.card img {
  height: 70%;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  object-fit: cover;
}

.card p {
  height: 30%;
}

nav img {
  height: 200px;
  width: 350px;
  border-radius: 5px;
  padding: 10px;
}

p {
  margin: 10px;
  font-size: 20px;
  color: black;
  overflow: hidden;
  line-height: 25px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.card:hover .card-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 3px solid #009688;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */

.card-front {
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Style the back side */

.card-back {
  background-color: blanchedalmond;
  color: white;
  transform: rotateX(180deg);
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
}

.card-back p {
  height: 75%;
  line-height: 30px;
  overflow-y: scroll;
}

.card-back a {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 16px;
  margin: 10px;
  background-color: red;
  border-radius: 10px;
}

.card-back a:hover {
  background-color: cadetblue;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding-left: 8px;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 88vh;
  z-index: 10;
  background-color: papayawhip;
  overflow-x: hidden;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

aside:hover {
  width: 250px;
}

aside:hover~.main {
  width: 90%;
  padding-left: 150px;
}

aside:hover~footer {
  width: 80%;
}

aside:hover .nav__item.active .nav__item-icon, aside:hover .nav__item.active .nav__item-name {
  -webkit-box-shadow: 0px 0px 15px 5px #0005;
  box-shadow: 0px 0px 15px 5px #0005;
}

aside .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

aside .nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
}

aside .nav__item.active::after, aside .nav__item.active::before {
  -webkit-transition: opacity 300ms 150ms ease-in-out;
  transition: opacity 300ms 150ms ease-in-out;
  opacity: 1;
}

aside .nav__item.active * {
  color: #009688;
  font-weight: 900;
}

aside .nav__item.active .nav__item-icon {
  background-color: rgb(255, 247, 234);
  /* background-color: #eceff1; */
  border-radius: 10px;
}

aside .nav__item.active .nav__item-name {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(255, 247, 234);
  /* background-color: #eceff1; */
  margin-left: 10px;
}

aside .nav__item::before, aside .nav__item::after {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  content: "";
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

aside .nav__item::before {
  top: -30px;
  -webkit-box-shadow: 15px 15px 0px 0px rgb(255, 247, 234);
  box-shadow: 15px 15px 0px 0px rgb(255, 247, 234);
}

aside .nav__item::after {
  bottom: -30px;
  -webkit-box-shadow: 15px -15px 0px 0px rgb(255, 247, 234);
  box-shadow: 15px -15px 0px 0px rgb(255, 247, 234);
}

aside .nav__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 15px;
  color: #000;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

aside .nav__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

aside .nav__item-icon i {
  font-size: 1.5em;
  color: #000;
}

.footer {
  position: relative;
  float: right;
  width: 95%;
  z-index: -10;
  margin-top: 100px;
  background: #009688;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon, .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../Assets/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

h1 {
  text-align: center;
  width: 600px;
  margin: 100px auto;
  font-size: 40px;
  font-weight: 300;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  font-family: lato, sans-serif;
}

h1:after, h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #009688;
  border-top: 1px solid #009688;
  height: 5px;
  background-color: #f8f8f8;
}